Django==5.2.15
gunicorn==26.0.0
psycopg2-binary==2.9.12
redis==8.0.1
celery==5.6.3
django-celery-beat==2.9.0
django-extensions==4.1
django-cors-headers==4.9.0
django-ratelimit==4.1.0
django-ckeditor==6.7.3
djangorestframework==3.17.1
django-timezone-field==7.2.2
django-js-asset==4.0.1
whitenoise==6.12.0
supabase==2.31.0
supabase-auth==2.31.0
supabase-functions==2.31.0
postgrest==2.31.0
storage3==2.31.0
python-decouple==3.8
python-crontab==3.3.0
cron-descriptor==1.4.5
pytz==2024.1
click==8.4.2
click-repl==0.3.0
click-plugins==1.1.1.2
click-didyoumean==0.3.1
faker==40.23.0
factory-boy==3.3.3
coverage==7.14.3
httpx==0.28.1
httpcore==1.0.9
h11==0.16.0
h2==4.3.0
hpack==4.2.0
hyperframe==6.1.0
yarl==1.24.2
multidict==6.7.1
idna==3.18
charset-normalizer==3.4.7
certifi==2026.6.17
wcwidth==0.8.1
tzlocal==5.4.3
tzdata==2026.2
typing-extensions==4.15.0
strenum==0.4.15
sqlparse==0.5.5
six==1.17.0
pydantic==2.13.4
pydantic-core==2.46.4
asgiref==3.11.1
annotated-types==0.7.0
typing-inspection==0.4.2
reportlab==5.0.0
Pillow==12.2.0
